


.wrapper {
    padding: 40px;
    form {
        #stopSubmit {
            color: red;
        }
        div {
            div {
                color: red;
            }
            input {
                width: 270px;
                height: 25px;
                margin-top: 10px;
                font: 15px Helvetica;
            }
        }
        #checkbox {
            display: flex;
            input {
                width: 17px;
            }
            h4  {
                margin: 10px 5px;
            }
        }
        button {
            width: 80px;
            height: 25px;
            margin-top: 10px;
            margin-right: 5px;
            font: 15px Helvetica;
        }
    }
}




























